body {
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: bisque;
}

.calculator_obj {
    width: 75%;
    height: 75%;
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: gray;
    padding: 10px;
}

.input_box {
    border: solid 1px black;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: white;
    height: 50px;
}

.cal_buttons {
    margin-top: 10px;
    gap: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.btn-row {
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: space-around;
}

.btn-row>button {
    padding: 5px;
    flex-grow: 1;
}